#jumbotron {
    background-color: rgba(199, 192, 192, 0);
    margin-top: 10%;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.logo {
    width: 50%;
    margin-left: 9%;
    margin-bottom: 1%;
}

#button1 {
    margin-left: 115px;
    margin-right: 115px;
    background-color: rgba(42,0,128,1);
    color: white;
    border: none;
    transition: 0.3s;
}

#button1:hover {
    background-color: rgba(42,0,128,.7); 
}

#button2 {
    margin-left: 115px;
    margin-right: 115px;
    background-color: rgb(212, 107, 3);
    color: white;
    border: none;
    transition: 0.3s;
}

#button2:hover {
    background-color: rgba(212, 107, 3, .7);
}

#search {
    margin-top: -1.5px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(212, 107, 3);
    border: 0;
    transition: .7s;
}

#search:hover {
    background-color: rgba(42,0,128,1);
    
}
