#navbar{
background-color: rgba(100,100,100,);
}

#logo {
    width: 50px;

}

#logout {
    background-color: rgb(27, 20, 112);
    border: 0;
    margin-top: 2px;
    transition: .3s;
}

#logout:hover {
    background-color: rgba(27, 20, 112, .7);
}