.App {
  text-align: center;
  background: rgb(212, 107, 3) 100vh;
  background: linear-gradient(90deg, rgb(212, 107, 3) 0%, rgba(42,0,128,1) 100%);
  background-position: repeat 100vh;
  color: rgb(252, 250, 231);
}


