.Close {
    position: absolute; 
    right: 15px;
    top: 15px; 
    /* margin: 0px 0px 0px 440px; */
    height: 30px; 
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
.Close:hover,
.Close:focus {
    color: black;
    cursor: pointer;
  }
  
.Submit {
    margin: 25px 10px 0px 150px; 
    color: #f1f1f1;
    background-color: #696969;
  }
  
.Submit:hover,
.Submit:focus {
    color: black;
    cursor: pointer;
  }  

.Login {
    margin: 10px 10px 0px 140px;
    color: #f1f1f1;
    background-color: #696969;
  }
  
.Login:hover,
.Login:focus {
    color: black;
    cursor: pointer;
  }  
   